body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-image: url(../images/background/pizzapic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    position: fixed;
    height: 100%;
    top: 0px;
    overflow: hidden;
    background-image: url(/images/nav/navbackgrpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a.active {
    background-color: #07be25;
    color: white;
}

.sidebar a.active:hover {
    opacity: 0.7;
    color: gold;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

nav {
    background-color: rgb(67, 89, 112);
    color: white;
}

.sidebar>a {
    color: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-google {
    color: #cfb997;
}

#footer {
    display: flex;
    flex-direction: row;
    width: 300px;
    bottom: 80px;
    position: fixed;
    justify-content: center;
}

#footer>a {
    opacity: 0.7;
    color: gold;
}

#footer.fa:hover {
    opacity: 0.7;
    color: gold;
}

.copyright {
    color: white;
    bottom: 0px;
    position: fixed;
    text-align: center;
}

.container>h1,
h3 {
    text-align: center;
}

.container>h1 {
    font-size: 130px;
    padding: 10vh 0vh 0vh 0vh;
    color: white;
    font-family: 'Bungee Shade', cursive;
}

.container>h3 {
    font-size: 60px;
    padding: 1vh 0vh 1vh 0vh;
    font-family: 'Monoton', cursive;
    color: #FFCC00;
}

.landing>h3>span {
    color: aqua;
}

.container>h4 {
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    margin: 24%;
    font-family: 'Philosopher', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    transition: 0.6s;
    background-color: rgba(97, 247, 11, 0.479);
    border: none;
    width: 400px;
}

.alert,
.alertDeliver,
.tableHeader,
.order-form {
    font-size: 20px;
}

#deliveryReceipt {
    color: white;
}

.order-form {
    margin: 15vh 25vh 0vh 10vh;
}

.form-select {
    width: 400px;
}

.form-control {
    width: 400px;
}

div>select,
input,
button {
    margin-top: 1vh;
}

.btn-primary {
    margin-left: 3%;
    width: 180px;
}

.order:hover {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 2vh;
    font-family: 'Philosopher', sans-serif;
    box-shadow: 0px 0px 3px 5px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1vh;
    border: 2px solid rgba(255, 255, 255, 0.671);
    background-color: #0274d8c9;
    width: 400px;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.tableHeader {
    border-bottom: 2px solid whitesmoke;
}

.checkOut {
    width: 50%;
    border: 1px solid white;
    font-weight: 600;
    transition: 0.5s;
    margin: 5vh 15vh 0vh 15vh;
}

.checkOut:hover {
    box-shadow: 0px 0px 2px 4px white;
    text-transform: uppercase;
    font-weight: 700;
}

.receipt {
    margin-top: 10vh;
    background-color: rgba(128, 128, 128, 0.473);
    border: 2px solid white;
    padding: 3%;
}

.summary {
    margin-top: 12vh;
    background-color: rgba(128, 128, 128, 0.473);
    border: 2px solid white;
    padding: 3%;
    border-radius: 5px;
}

.print {
    width: 50%;
    margin: 4vh 15vh 0vh 15vh;
    align-items: center;
    border: 1px solid white;
    transition: 0.7s;
}

.print:hover {
    box-shadow: 0px 0px 3px 4px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: teal;
}

#pick,
#deliver {
    border: 1px solid whitesmoke;
    transition: 0.6s;
}

#pick:hover,
#deliver:hover {
    box-shadow: 0px 0px 3px 4px;
    background-color: teal;
}

.homeLink {
    padding: 0vh 5vh 0vh 0vh;
}

.receipt>h4 {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    margin: 2%;
}