body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-image: url(../images/background/pizzapic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    position: fixed;
    height: 100%;
    top: 0px;
    overflow: hidden;
    background-image: url(/images/nav/navbackgrpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a.active {
    background-color: #07be25;
    color: white;
}

.sidebar a.active:hover {
    opacity: 0.7;
    color: gold;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

nav {
    background-color: rgb(67, 89, 112);
    color: white;
}

.sidebar>a {
    color: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-google {
    color: #cfb997;
}

#footer {
    display: flex;
    flex-direction: row;
    width: 300px;
    bottom: 80px;
    position: fixed;
    justify-content: center;
}

#footer>a {
    opacity: 0.7;
    color: gold;
}

#footer.fa:hover {
    opacity: 0.7;
    color: gold;
}

.copyright {
    color: white;
    bottom: 0px;
    position: fixed;
    text-align: center;
}

.container>h1,
h3 {
    text-align: center;
}

.container>h1 {
    font-size: 130px;
    padding: 10vh 0vh 0vh 0vh;
    color: white;
    font-family: 'Bungee Shade', cursive;
}

.container>h3 {
    font-size: 60px;
    padding: 1vh 0vh 1vh 0vh;
    font-family: 'Monoton', cursive;
    color: #FFCC00;
}

.landing>h3>span {
    color: aqua;
}

.container>h4 {
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    margin: 24%;
    font-family: 'Philosopher', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    transition: 0.6s;
    background-color: rgba(97, 247, 11, 0.479);
    border: none;
    width: 400px;
}